@page "/"
<h1>Home</h1>

<p>This is under works still, should be finished by later today.</p>
<p>on varmaan aika roskaa mutta kirjottanu tän ohjelman 17 kertaa nytten kun en oo ollu tyytyväinen. :/.
    Koko sivusto rakennettu alusta asti. Nothing is premade. SQL on kyl oma juttunsa. :( :( Pahoittelen että sivusto ei vielä näytä miltään.
    Oon ollut liian kiireinen registeraatio systeemin kanssa ja muitten projektien kanssa.
    lyhyesti: Asioita on vielä rikki, mutta perus user register toimii.</p>
<a href="/register">Register an User</a>
@code {
    
}