.bKrLn-pad-3 {
    padding-top: 3px;
    padding-bottom: 3px;
}

.bKrLn-pad-0 {
    padding: 0;
}

.bKrLn-trans-1 {
    transform: translateX(0px) translateY(-8px);
}

.mKrLn-marg-0 {
    margin-right: 0;
    margin-left: 0;
}

