@page "/Twitch"
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto position-relative">
                <div class="site-heading">
                    <h1>My Twitch</h1><span class="subheading">Here is a simple embed of my twitch channel.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
            <div id="twitch-embed">If you're seeing this, twitch is having a moment.</div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                            <a href="https://twitter.com/HeartwarmingFox" class="twitter">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </a>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                            <a href="https://github.com/fluffballdev" class="github">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </a>
                        </span>
                    </li>
                </ul>
                <p class="text-muted copyright">Copyright&nbsp;©&nbsp;HeartwarmingFox 2022</p>
            </div>
        </div>
    </div>
</footer>
@code {
    
}